* {
    border: 1px solid red;
}

li {
    list-style: none;
}

.topmost-nav li {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    flex-direction: column;
    
}

.topmost-nav ul {
    display: flex;
    justify-content: space-evenly;
}

.recs-nav li {
    display: flex;
    border: 1px solid black;
    padding: 3px;
    flex-direction: column;
    border-radius: 10px;
}

.recs-nav ul {
    display: flex;
    justify-content: space-evenly;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 80%;
}

.video-nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    align-content: flex-end;
    justify-content: space-evenly;
}